- articles.each do |article|
  .article{:data_nr => article.nr}
    - article.images.each_with_index do |image, image_nr|
      %section[image]
        %img{:src => image.image_url, :title => image.alt_text}
        %p.heading
          %a.original{:href => image.original_url}
            = "##{article.nr}#{" (#{image_nr + 1})" if article.images.length > 1}"
        %p.alt_text= image.alt_text
